body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinea el contenido en el centro */
}

h1 {
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    width: calc(100% - 20px); /* Hacemos el ancho un poco más corto para compensar el padding */
    padding: 10px; /* Agregamos un poco de padding para que se vea mejor */
    margin: 0 auto 20px; /* Centramos horizontalmente y agregamos un poco de margen en la parte inferior */
    box-sizing: border-box; /* Para incluir el padding en el cálculo del ancho */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
